@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap");

:root {
  font-size: 18px;
  --color-main: #6ea0cc;
  --color-secondary: #ec863b;
  --color-error: #ffead9;
  --color-bg-sidebar: #234276;
  --color-bg-main: #eeeeee;
  --color-white: #ffffff;
  --color-black: #333333;
}

*,
*:after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#root {
  height: 100%;
}

/* HOME */
.root-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-main);

  display: flex;
  flex-direction: row;
}

/* SIDEBAR */
.sidebar-container {
  width: 100%;
  max-width: 580px;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--color-bg-sidebar);
  color: var(--color-white);
  padding: 1em;
}

.sidebar-container__logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25em 0;
  margin-bottom: 2em;
}

/* input */

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.input-group span {
  font-size: 0.75rem;
  color: var(--color-error);
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 0.75em;
  border-radius: 2.5px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  resize: none;
  color: var(--color-black);
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

.input-group select option {
  padding: 1em;
}

.input-group input:focus {
  outline: var(--color-main) solid 3px;
}

/* btn group */

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0;
}

.align-left {
  justify-content: flex-start;
}

.align-left > * {
  margin-right: 0.5em;
}

/* btn */

.btn {
  border: none;
  background: var(--color-main);
  padding: 1em;
  border-radius: 2.5px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
}

.primary {
  background: var(--color-main);
}

.secondary {
  background: var(--color-secondary);
}

/* Main  */

.main-container {
  width: 100%;
  max-height: 100%;
  overflow-x: auto;
  padding: 2em;
}

.cardList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  row-gap: 1em;
}

/* summary */

.summary-container {
  max-width: calc(100vw - 580px);
  display: flex;
  padding: 1em 0;
  overflow-y: auto;
}
.summary-container > * {
  margin-right: 10px;
}

.summary-container > *:last-child {
  margin-right: 0;
}

/* summary card */

.summary-container__card {
  background-color: var(--color-white);
  padding: 1em 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 128px;
}

.summary-container__card .title {
  font-size: 0.75rem;
  font-weight: 300;
}

.summary-container__card .value {
  font-size: 2rem;
  font-weight: 400;
}

/* Filter */

.filter-container {
  width: 100%;
  padding: 1em 0;
  display: flex;
}

.filter-container .inputField {
  flex: 1;
  padding: 0.75em;
  border-radius: 2.5px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.filter-container .inputField:focus {
  outline: var(--color-main) solid 3px;
}

.filter-container .searchButton {
  padding: 0.75em;
  border-radius: 2.5px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0.5em;
  background-color: var(--color-main);
  color: var(--color-white);
  cursor: pointer;
}

/* tip card */

.tipcard-container {
  background-color: var(--color-white);
  padding: 1em 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.tipcard-container .title {
  font-size: 1.25rem;
  font-weight: 700;
}

.tipcard-container .metadata {
  padding: 1em 0;
  font-size: 0.75rem;
  font-weight: 700;
}

.tipcard-container .metaValue {
  font-weight: 300;
}

.tipcard-container .content {
  font-weight: 300;
}

.tipcard-container .action {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.tipcard-container .action button {
  padding: 0.75em;
  border-radius: 2.5px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin-right: 0.5em;
  background-color: var(--color-secondary);
  color: var(--color-white);
}
